@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

.Figma{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    font-family: 'Oleo Script', cursive;
    font-size: 32px;
    font-weight: 400;
}
.Figma_title{
    color: #DA76DE;
    text-decoration: underline;
    margin: 2rem;
}
.Figma_awardrow1{
    display: flex;
    justify-content: space-evenly;
}
.Figma_achievement{
    width: 300px;
    height: 163px;
    background: url(../images/colorgif1.gif);
    background-size: cover;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: honeydew;
}
.Figma_achievement1{
    width: 300px;
    height: 163px;
    background: url(../images/colorgif1.gif);
    background-size: cover;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: honeydew;
}
.Figma_achievementtitle{
    font-size: 20px;
    margin-bottom: .25rem;
    margin-top: .5rem;
    margin-left: .15rem;
    margin-right: .15rem;
    text-decoration: underline;
}
.Figma_achievementimage1{
    height: 7rem;
    width: auto;
    border-radius: 12px;
}

.Figma_awardrow2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 8rem;
}
@media only screen and (min-device-width: 800px) {
    .Figma{
        font-size: 34px;
    }
    .Figma_title{
        margin-top: 2rem;
        margin-left: 5rem;
    }
    .Figma_awardrow1{
        display: flex;
        justify-content: space-evenly;
    }
    .Figma_achievement{
        width: 825px;
        height: 390px;
        background: url(../images/colorgif1.gif);
        background-size: cover;
        border-radius: 12px;
    }
    .Figma_achievement1{
        width: 850px;
        height: 390px;
        background: url(../images/colorgif1.gif);
        background-size: cover;
        border-radius: 12px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: honeydew;
    }
    .Figma_achievementtitle{
        font-size: 20px;
        margin-bottom: .5rem;
        margin-top: .5rem;
        margin-left: .15rem;
        margin-right: .15rem;
        text-decoration: underline;
    }
    .Figma_achievementimage1{
        height: 20rem;
        width: auto;
        border-radius: 12px;
        
    }
    
    .Figma_awardrow2{
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
        margin-bottom: 8rem;
    }
}

@media only screen and (min-width: 1224px) {
    .Figma_title{
        margin-top: 2rem;
        margin-left: 25rem;
        font-size: 45px;
    }
}


@media only screen and (min-width: 1824px) {


}